/*


*/

* {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 20px;
    font: 81.25% "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #C7D8E8;
    background: #272B46;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

h1 {
    padding-top: 30px;
    width: 390px;
    font-weight: normal;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    color: #F6F6DE;
}

h1 a, h1 a:hover {
    text-decoration: none;
    font-weight: normal;
    color: #F6F6DE;
}

p {
    padding: 8px 0;
    line-height: 1.4em;
    text-align: justify;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #FBB172;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

/* page */

#page {
    position: relative;
    margin: 0 auto;
    width: 950px;
}

#header {
    height: 112px;
    background: url(/img/header.jpg) no-repeat bottom left;
}

/* menu */

#menu {
    position: absolute;
    top: 30px;
    left: 390px;
    width: 560px;
    height: 52px;
    background: #1B2024 url(../../img/menu.jpg) no-repeat;
}

#menu ul {
    list-style: none;
    padding: 11px 0;
}

#menu ul li {
    margin: 0 0 0 11px;
    padding: 0;
    display: block;
    float: left;
}

#menu ul li a {
    display: block;
    float: left;
    width: 126px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #FCFFFF;
}

#menu ul li a.active, #menu ul li a:hover {
    text-decoration: none;
    color: #5E5839;
    background: #F5E6A0 url(../img/menuover.gif) no-repeat;
}

/* intro */

#intro {
	height: 220px;
	padding-left: 390px;
	background: #B0D9F9 url(../img/01.jpg) no-repeat;
	margin-top: 10px;
	margin-bottom: 10px;
}

#intro h2 {
    padding: 40px 0 10px 0;
    font-weight: normal;
    font-size: 36px;
    color: #272B46;
}

#intro p {
    padding-right: 50px;
    font-size: 16px;
    line-height: 21px;
    color: #6570B6;
}

a.button {
    display: block;
    width: 180px;
    height: 50px;
    margin: 25px 0 0 120px;
    font-weight: normal;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: White;
    background: url(../img/button.gif) no-repeat;
}

/* main */

#main {
    background: #4C5070 url(../img/main.gif) repeat-y;
}

/* sidebar */

#sidebar {
    float: left;
    width: 244px;
    padding: 25px 30px 30px 30px;
    background: url(../img/sidebar.jpg) no-repeat;
}

#sidebar h2 {
    font-weight: normal;
    font-size: 24px;
    color: #6791B8;
}

#sidebar ul {
    padding: 16px 0;
}

#sidebar ul li {
    padding: 3px 0;
}

#sidebar ul li a {
    display: block;
    padding: 0 0 0 18px;
    font-weight: normal;
    line-height: 1.4em;
    text-decoration: none;
    color: #EB8400;
    background: url(../img/claqueta1.png) no-repeat 0 3px;
}

#sidebar ul li a:hover {
    text-decoration: none;
    color: #6791B8;
}

#sidebar .box {
    padding: 8px 0;
}

#sidebar p {
    color: #70748D;
}

/*#fondo */

#fondo {
    float: right;
    width: 566px;
    padding: 20px 40px 20px 40px;
    background: url(../img/fondo.jpg) no-repeat;
}

.post {
    padding-bottom: 20px;
}

#tabla
{
border: solid black 1px;
float: left;
margin-left: 130px;
margin-top: 50px;
height:200px;
width:400px;
}

#fondo h2 {
    font-weight: normal;
    font-size: 28px;
    color: #98B8D5;
}

#fondo h2 a, #fondo h2 a:hover {
    font-weight: normal;
    text-decoration: none;
    color: #98B8D5;
}

.postmeta {
    padding-top: 30px;
    font-size: .923em;
    font-weight: bold;
    color: White;
}

.entry {
}

#fondo ul {
    padding: 8px 0;
}

#fondo ul li {
    padding: 0 0 0 18px;
    line-height: 1.4em;
    text-align: justify;
    background: url(../img/li2.gif) no-repeat 0 3px;
}#fondo
#fondo img {
    float: right;
    display: block;
    margin: 0 0 10px 40px;
    border: 4px solid #585C7B;
}

.clearing {
    clear: both;
    height: 1px;
    overflow: hidden;
}

/* footer */

#footer {
    clear: both;
    background: url(../img/footer.gif) repeat-y;
}

#clearingfooter {
    clear: both;
    height: 2px;
    overflow: hidden;
    background: url(../img/footer2.gif) no-repeat;
}

#footerleft {
    float: left;
    width: 244px;
    padding: 30px;
    background: #AECAE0;
}

#footerleft p {
    text-align: center;
    color: #646883;
}

#footerright {
    float: right;
    width: 566px;
    padding: 30px 40px;
    background: #727992;
}
